.graph-section{
  position: relative;
}
.graph-title{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.graph-legend {
  position : absolute;
  top: 30px;
  width: 100px;
  right:0px;
}
.bar {
  vertical-align: bottom;
}
.bar-detail {  
  background: #ececec;
  color: #555;
  position: relative;
  text-align: center;
}

.bar .tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -25px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  position: absolute;
  width: 100%;
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.bar .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

/* CSS Triangles - see Trevor's post */
.bar .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.bar:hover .tooltip {
  opacity: 1;
  pointer-events: auto;

}
.bar .tooltip {
  display: none;
}

.bar:hover .tooltip {
  display: block;
}